<script setup lang="ts">
  import formatter from '@/helpers/formatter'
  import ticket from '@/libraries/ticket'
  import venue from '@/libraries/venue'
  import { useRoute, useRouter } from 'vue-router'
  import { onMounted, reactive, ref } from 'vue'
  import Toast from '@/components/partials/Toast.vue'

  const donwloadUrl = `${import.meta.env.VITE_TICKET_SITE}/ticket-download`
  const ticketData = reactive<ticketDataType>({
    id: 0,
    id_ticket: '',
    price: 0,
    phone: '',
    pic: '',
    venue_id: 0,
    ticket_status_id: 1,
    pax: [],
    created_at: '',
  })
  const venueData = ref<venueDataType[]>([])
  const moneyRecieved = ref(0)
  const registrant = ref('')
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const ticketUrl = ref('')
  const route = useRoute()
  const router = useRouter()
  onMounted(() => {
    ticketUrl.value = window.location.href
    ticket.getTicketDetail(route.params.id)
      .then((res:any) => {
        Object.assign(ticketData, res)
        registrant.value = res.pax[0] ? res.pax[0].name : ''
        return venue.getVenues()
      })
      .then((res:any) => {
        venueData.value = res
      })
      .catch((err:any) => {
        console.log(err)
      })
  })

  const verified = () => {
    const roleId = parseInt(localStorage.getItem('roleId') || '99')
    if (!ticketData.venue_id || !ticketData.pic) {
      notifyMsg.value = 'Kapal dan penanggung jawab harus diisi'
      notifyType.value = 'warn'
      return
    }
    if (roleId < 4 && moneyRecieved.value - ticketData.price < 1) ticketData.price = moneyRecieved.value 
    if (moneyRecieved.value - ticketData.price >= 1) {
      isLoading.value = true
      ticketData.ticket_status_id = 2
      ticket.editTicket(ticketData.id, ticketData)
        .then(() => {
          router.push('/ticket')
        })
        .catch((err:any) => {
          notifyMsg.value = err
          notifyType.value = 'err'
        })
        .finally(() => isLoading.value = false)
    } else {
      notifyMsg.value = 'Uang yang diterima kurang'
      notifyType.value = 'warn'
    }
  }
  const cancelOrder = () => {
    isLoading.value = true
    ticketData.ticket_status_id = 3
    ticket.editTicket(ticketData.id, ticketData)
      .then(() => {
        router.push('/ticket')
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const doanloadTicket = () => {
    location.href = `${donwloadUrl}/${route.params.id}`
  }
</script>

<template>
  <main class="sm:ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
    <div class="card-base">
      <div class="card-12 overflow-scroll lg:card-8 lg:row-span-2 row-span-1">
        <h6>Detail tiket</h6>
        <section class="flex gap-6">
          <div class="text-center">
            <img :src="`https://api.qrserver.com/v1/create-qr-code/?data=${ticketUrl}&size=150x150`" alt="QR code" />
            <h6>{{ticketData.id_ticket}}</h6>
          </div>
          <div class="basis-1/3">
            <p class="mb-0">Nama pemesan:</p>
            <h6 class="uppercase">{{registrant}}</h6>
            <p class="mb-0">Tanggal pemesanan:</p>
            <h6 class="uppercase">{{formatter.toDate(ticketData.created_at)}} ; {{formatter.toTime(ticketData.created_at)}} WIB</h6>
          </div>
          <div>
            <p class="mb-0">Nomor telepon:</p>
            <h6 class="uppercase">{{ticketData.phone}}</h6>
            <!-- <p class="mb-0">Rencana keberangkatan:</p>
            <h6>12 November 2022 ; 12:00 WIB</h6> -->
          </div>
        </section>
      </div>
      <div class="card-12 overflow-scroll lg:card-4 lg:row-span-4 row-span-1 flex flex-col justify-between">
        <section>
          <h6>Verifikasi tiket</h6>
          <label class="flex flex-col mb-6">
            <span class="mb-2">Pilih kapal:</span>
            <select v-model="ticketData.venue_id">
              <option v-for="item in venueData" :key="item.id" :value="item.id">{{item.name}} - Max:{{item.capacity}}</option>
            </select>
          </label>
          <label class="flex flex-col mb-6">
            <span class="mb-2">Penangung jawab perjalan:</span>
            <input type="text" class="input-full" v-model="ticketData.pic" required />
          </label>
        </section>
        <section>
          <div class="grid grid-cols-2 mb-4">
            <p>Total harga</p>
            <p>: {{formatter.currency(ticketData.price)}}</p>
            <p>Uang diterima</p>
            <p>: <input v-model="moneyRecieved" class="border border-neutral-800 rounded" type="number" /></p>
            <p>Kembalian</p>
            <p>: {{formatter.currency(moneyRecieved - ticketData.price)}}</p>
          </div>
          <!-- <div class="flex items-center mb-4">
            <input type="checkbox" class="mr-4" />
            <p>
              Saya telah menerima pembayaran dan memberikan 
              kembalian kepada pelanggan.
            </p>
          </div> -->
          <div class="flex flex-col">
            <button @click="router.push('/ticket')" class="text-center btn btn-primary mb-2" :disabled="isLoading">Kembali</button>
            <button v-if="ticketData.ticket_status_id === 1" @click="cancelOrder()" type="button" class="btn btn-danger mb-2" :disabled="isLoading">Batalkan Pesanan</button>
            <button v-if="ticketData.ticket_status_id === 1" @click="verified()" type="button" class="btn btn-primary mb-2" :disabled="isLoading">{{isLoading ? 'Loading ...' : 'Verifikasi Pesanan'}}</button>
            <button v-if="ticketData.ticket_status_id === 2" @click="doanloadTicket()" type="button" class="btn btn-primary mb-2" :disabled="isLoading">Download Tiket</button>
          </div>
        </section>
      </div>
      <div class="card-12 overflow-scroll lg:card-8 lg:row-span-2 row-span-1">
        <h6>Daftar penumpang</h6>
        <table class="border">
          <thead>
            <tr class="border-y">
              <th>No</th>
              <th>Nama</th>
              <th>Jenis kelamin</th>
              <th>Usia</th>
              <th>Alamat</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pax, key) in ticketData.pax" :key="key" class="border-b">
              <td class="uppercase">{{key + 1}}</td>
              <td class="uppercase">{{pax.name}}</td>
              <td class="uppercase">{{pax.sex}}</td>
              <td class="uppercase">{{pax.age}}</td>
              <td class="uppercase">{{pax.province}} - {{pax.city}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</template>