<script setup lang="ts">
  import formatter from '@/helpers/formatter'
  import ticket from '@/libraries/ticket'
  import Toast from '@/components/partials/Toast.vue'
  import { ref, onMounted } from 'vue'
  import { useRoute } from 'vue-router'

  const ticketUrl = import.meta.env.VITE_TICKET_SITE

  const ticketStatuses = [
    'Menunggu Pembayaran',
    'Terbayar',
    'Dibatalkan',
    'Terbit',
  ]
  const ticketData = ref<ticketDataType[]>([])
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const companyId = localStorage.getItem('companyId')
  const ticketHomepage = `${ticketUrl}/ticket/${companyId}`
  const route = useRoute()

  onMounted(() => {
    isLoading.value = true
    ticket.getTickets()
      .then((res:any) => {
        Object.assign(ticketData.value, res)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })

  const ticketStatus = (id:number) => {
    return ticketStatuses[id - 1]
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else class="card-base">
      <div v-if="ticketData.length > 0" class="card-12 overflow-scroll">
        <div class="flex justify-between pb-4">
          <h6>Daftar tunggu pesanan</h6>
          <!-- <button class="btn btn-primary">Download PDF</button> -->
        </div>
        <table class="border">
          <thead>
            <tr class="border-y">
              <th>Booking ID</th>
              <th>Paket</th>
              <th>Status</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="ticket in ticketData" :key="ticket.id" class="border-b">
              <td>
                <RouterLink :to="`/ticket/new-order/${ticket.id_ticket}`">{{ticket.id_ticket}}</RouterLink>
              </td>
              <td>{{ticket.package_name}} - {{ticket.variant_name}}</td>
              <td>{{ticketStatus(ticket.ticket_status_id)}}</td>
              <td>{{formatter.currency(ticket.price)}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="flex justify-between items-center p-4">
          <p class="m-0">Total Data: 1 item</p>
          <div class="pagination">
            <button class="more-less px-2">&lt; Sebelum</button>
            <button class="paging active">1</button>
            <button class="paging">2</button>
            <button class="more-less px-2">Berikut &gt;</button>
          </div>
          <select>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div> -->
      </div>
      <div v-else class="card-12 text-center">
        <h3>Belum ada tiket yang dipesan</h3>
        <p>Berikan link berikut kepada calong pelanggan untuk melakukan pemesanan</p>
        <div>
          <img class="mx-auto" :src="`https://api.qrserver.com/v1/create-qr-code/?data=${ticketHomepage}&size=150x150`" alt="QR Code" />
          <a :href="ticketHomepage">{{ticketHomepage}}</a>
        </div>
      </div>
    </section>
  </main>
</template>