.btn {
  @apply rounded-md px-6 py-2 font-bold;
  &-full {
    @extend .btn;
    @apply w-full;
  }
  &-primary {
    @apply bg-purple-800 text-white hover:bg-purple-600 hover:text-white;
  }
  &-secondary {
    @apply border-2 border-purple-800 text-purple-800 hover:bg-purple-600 hover:text-white;
  }
  &-danger {
    @apply bg-red-800 text-white hover:bg-red-600 hover:text-white;
  }
}