.var-card {
  @apply bg-white rounded p-6;
}

.card-base {
  @apply grid grid-cols-12 gap-6;
  .card-3 {
    @extend .var-card;
    @apply col-span-3;
  }
  .card-4 {
    @extend .var-card;
    @apply col-span-4;
  }
  .card-6 {
    @extend .var-card;
    @apply col-span-6;
  }
  .card-8 {
    @extend .var-card;
    @apply col-span-8;
  }
  .card-9 {
    @extend .var-card;
    @apply col-span-9;
  }
  .card-12 {
    @extend .var-card;
    @apply col-span-12;
  }
}