body {
  @apply bg-primary-3 text-neutral-600 cursor-default;
}
h3 {
  @apply text-3xl font-bold mb-2;
}
h4 {
  @apply text-2xl font-bold mb-2;
}
h5 {
  @apply text-xl font-bold mb-2;
}
h6 {
  @apply text-lg font-bold mb-2;
}
p {
  @apply mb-2;
}
a {
  @apply text-purple-800 hover:text-purple-600;
}
table {
  @apply w-full;
  thead {
    tr {
      @apply text-left px-4;
      th {
        @apply p-2;
      }
    }
  }
  tbody {
    tr {
      td {
        @apply px-2 py-4;
      }
    }
  }
}
select {
  @apply bg-transparent border p-2;
}
