.var-input {
  @apply border border-neutral-500 rounded-md p-2;
}

.input {
  @extend .var-input;
  @apply w-80;
  &-sm {
    @extend .var-input;
    @apply w-40;
  }
  &-lg {
    @extend .var-input;
    @apply w-120;
  }
  &-full {
    @extend .var-input;
    @apply w-full;
  }
}