.var-sidebar-item {
  @apply font-bold rounded-md py-2 pl-3 pr-6;
}

.sidebar {
  @apply flex flex-col gap-1 px-3;
  &-item {
    @extend .var-sidebar-item;
    @apply hover:bg-neutral-200 text-neutral-600 hover:text-purple-600;
  }
  .active {
    @extend .var-sidebar-item;
    @apply bg-neutral-200 text-purple-600;
  }
}