.pagination {
  @apply flex;
  .more-less {
    @apply h-8 border hover:bg-purple-600 hover:text-white;
  }
  .paging {
    @extend .more-less;
    @apply w-8;
  }
  .active {
    @extend .paging;
    @apply bg-purple-800 text-white;
  }
}