<script setup lang="ts">
  import venue from '@/libraries/venue'
  import Toast from '@/components/partials/Toast.vue'
  import { useRoute } from 'vue-router'
  import { ref, reactive, onMounted } from 'vue'

  const newVenue = reactive({
    name: '',
    owner: '',
    capacity: 0,
  })
  const venueData = ref<venueDataType[]>([])
  const showModal = ref(false)
  const editData = ref(false)
  const selectedVenue = ref<number>(0)
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const route = useRoute()

  onMounted(() => {
    isLoading.value = true
    getVenues()
  })

  const submit = (isEdit:boolean) => {
    if (isEdit) {
      editVenue(selectedVenue.value)
    } else {
      addVenue()
    }
  }
  const addVenue = () => {
    isLoading.value = true
    venue.addVenue(newVenue)
      .then(() => {
        notifyMsg.value = `${newVenue.name} berhasil ditambahkan`
        notifyType.value = 'success'
        showModal.value = false
        return getVenues()
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const editVenue = (id:number) => {
    isLoading.value = true
    venue.editVenue(newVenue, id)
      .then(() => {
        notifyMsg.value = `${newVenue.name} berhasil diedit`
        notifyType.value = 'success'
        showModal.value = false
        return getVenues()
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const getVenues = () => {
    venue.getVenues()
      .then((res:any) => {
        Object.assign(venueData.value, res)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const deleteVenue = (id:number) => {
    isLoading.value = true
    venue.delVenue(id) 
      .then(() => {
        notifyMsg.value = `${newVenue.name} berhasil dihapus`
        notifyType.value = 'success'
        showModal.value = false
        return getVenues()
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const selectVenue = (index:number) => {
    selectedVenue.value = venueData.value[index].id
    Object.assign(newVenue, venueData.value[index])
    openModal(true)
  }
  const openModal = (isEdit:boolean) => {
    showModal.value = true
    editData.value = isEdit
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div v-if="venueData.length > 0" class="card-base mb-8">
        <div class="card-12 overflow-scroll">
          <div class="flex justify-between items-center mb-8">
            <h6 class="mb-0">Daftar venue</h6>
            <button @click="openModal(false)" class="btn btn-primary">Tambah</button>
          </div>
          <table class="border">
            <thead>
              <tr class="border-y">
                <th>No</th>
                <th>Nama Venue</th>
                <th>Pemilik</th>
                <th>Kapasitas Penumpang</th>
                <th>Pilihan</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in venueData" :key="key" class="border-b">
                <td>{{key + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.owner}}</td>
                <td>{{item.capacity}}</td>
                <td class="flex gap-4">
                  <button @click="selectVenue(key)" class="btn btn-primary">Edit</button>
                  <button @click="deleteVenue(item.id)" class="btn btn-danger">Hapus</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <section v-else>
        <div class=" bg-white rounded-xl flex flex-col justify-center items-center p-20">
          <p>Sayang sekali, saat ini Anda tidak mempunyai venue.</p>
          <button @click="openModal(false)" type="button" class="btn btn-primary">Daftarkan sekarang</button>
        </div>
      </section>
    </section>
    <section v-if="showModal" class="fixed bg-neutral-600/50 top-0 left-0 w-screen h-screen">
      <div @click="showModal = false" class="fixed bg-black/50 w-screen h-screen top-0 left-0" />
      <div class="absolute bg-white rounded-lg w-180 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-6">
        <h5 class="mb-8">{{editData ? 'Edit' : 'Penambahan'}} venue</h5>
        <div class="mb-8">
          <label class="flex flex-col mb-4">
            <span class="mb-2">Nama</span>
            <input type="text" class="input" v-model="newVenue.name" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Pemilik</span>
            <input type="text" class="input" v-model="newVenue.owner" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Kapasitas</span>
            <input type="text" class="input" v-model="newVenue.capacity" />
          </label>
        </div>
        <div class="flex justify-end">
          <button @click="showModal = false" class="btn btn-danger">Batal</button>
          <button v-if="editData" @click="submit(true)" class="btn btn-primary ml-4">Edit</button>
          <button v-else @click="submit(false)" class="btn btn-primary ml-4">Tambah</button>
        </div>
      </div>
    </section>
  </main>
</template>