<script setup lang="ts">
  import user from '@/libraries/auth'
  import company from '@/libraries/company'
  import Toast from '@/components/partials/Toast.vue'
  import { ref, reactive, onMounted } from 'vue'
  import { useRouter } from 'vue-router'

  const payload = reactive({
    name: '',
    email: '',
    password: '',
    conf_password: '',
    company_id: 0,
    role_id: 4,
  })
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(true)
  const isLoadingSubmit = ref(false)
  const companiesData = ref<companyDataType[]>([])
  const router = useRouter()
  onMounted(() => {
    company.getCompanies()
      .then((res:companyDataType[]) => {
        companiesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  const submit = () => {
    isLoadingSubmit.value = true
    user.register(payload)
      .then(() => {
        router.push('/register')
        notifyMsg.value = 'Pendaftaran akun berhasil'
        notifyType.value = 'success'
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoadingSubmit.value = false)
  }
</script>

<template>
  <Toast :msg="notifyMsg" :type="notifyType" />
  <section v-if="isLoading">
    <h3>Loading ...</h3>
  </section>
  <form v-else class="bg-white border rounded shadow w-118 mx-auto p-20" @submit.prevent="submit()">
    <div class="mb-10">
      <h4>Register</h4>
      <p class="text-sm text-neutral-500">Pedaftaran pengguna baru</p>
    </div>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Email</span>
      <input class="input-full" type="text" v-model="payload.email" placeholder="admin@email.com" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Nama lengkap</span>
      <input class="input-full" type="text" v-model="payload.name" placeholder="Joko Tingkir" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Password</span>
      <input class="input-full" type="password" v-model="payload.password" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Konfirmasi password</span>
      <input class="input-full" type="password" v-model="payload.conf_password" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Perusahaan</span>
      <select class="input-full" v-model="payload.company_id">
        <option v-for="company in companiesData" :key="company.id" :value="company.id">{{company.name}}</option>
      </select>
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Hak Akses</span>
      <select class="input-full" v-model="payload.role_id">
        <option value="3">Admin</option>
        <option value="4">Teller</option>
      </select>
    </label>
    <button class="btn-full btn-primary mb-6" type="submit" :disabled="isLoadingSubmit">{{isLoadingSubmit ? 'Loading ...' : 'Daftar'}}</button>
  </form>
</template>