<script setup lang="ts">
  import user from '@/libraries/auth'
  import address from '@/libraries/address'
  import Toast from '@/components/partials/Toast.vue'
  import { ref, reactive, onMounted } from 'vue'
  import { useRouter } from 'vue-router'
import company from '../../libraries/company'

  const payload = reactive({
    logo: '-',
    secretary: '-',
    finance: '-',
    name: '',
    owner: '',
    province: '',
    city: '',
    address: '-',
    phone: '',
  })
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(true)
  const isLoadingSubmit = ref(false)
  const cityLoading = ref(false)
  const provincesData = ref<provinceDataType[]>([])
  const citiesData = ref<cityDataType[]>([])
  const router = useRouter()
  onMounted(() => {
    address.getProvinces()
      .then((res:provinceDataType[]) => {
        provincesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  const submit = () => {
    isLoadingSubmit.value = true
    company.addCompany(payload)
      .then(() => {
        router.push('/register')
        notifyMsg.value = 'Pendaftaran perusahaan berhasil'
        notifyType.value = 'success'
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => {
        isLoadingSubmit.value = false
      })
  }
  const getCities = (provinceId:string) => {
    cityLoading.value = true
    address.getCities(provinceId)
      .then((res:cityDataType[]) => {
        citiesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => cityLoading.value = false)
  }
</script>

<template>
  <Toast :msg="notifyMsg" :type="notifyType" />
  <section v-if="isLoading">
    <h3>Loading ...</h3>
  </section>
  <form v-else class="bg-white border rounded shadow w-118 mx-auto p-20" @submit.prevent="submit()">
    <div class="mb-10">
      <h4>Register</h4>
      <p class="text-sm text-neutral-500">Pedaftaran Perusahaan baru</p>
    </div>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Nama Perusahaan</span>
      <input class="input-full" type="text" v-model="payload.name" placeholder="Perusahaan Sesuatu" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Nama Ketua</span>
      <input class="input-full" type="text" v-model="payload.owner" placeholder="Joko Tingkir" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Provinsi</span>
      <select class="input" @click="payload.city = ''" v-model="payload.province">
        <option v-for="province in provincesData" :key="province.id" @click="getCities(province.id)" :value="province.name">{{province.name}}</option>
      </select>
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Kota</span>
      <p v-if="cityLoading">Loading ...</p>
      <select v-else class="input" v-model="payload.city">
        <option v-for="city in citiesData" :key="city.id" :value="city.name">{{city.name}}</option>
      </select>
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Telepon</span>
      <input class="input-full" type="text" v-model="payload.phone" />
    </label>
    <button class="btn-full btn-primary mb-6" type="submit" :disabled="isLoadingSubmit">{{isLoadingSubmit ? 'Loading ...' : 'Daftarkan'}}</button>
  </form>
</template>