<template>
  <main class="flex gap-8 ml-72 p-8">
    <RouterLink class="btn btn-primary" to="/register/company">Perusahaan</RouterLink>
    <RouterLink class="btn btn-primary" to="/register/account">Akun</RouterLink>
  </main>
</template>