<script setup lang="ts">
  import libPackage from '@/libraries/package'
  import variant from '@/libraries/variant'
  import formatter from '@/helpers/formatter'
  import { ref, reactive, onMounted, watch } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import Toast from '@/components/partials/Toast.vue'

  const packageData = reactive({
    name: '',
    description: '',
    max_capacity: null,
    duration: null,
    price: null,
  })
  const newVariant = reactive({
    name: '',
    max_capacity: 0,
    duration: 0,
    price: 0,
    package_id: '',
  })
  const selectedDay = ref<number[][]>([])
  const variantData = ref<variantDataType[]>([])
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const showModal = ref(false)
  const route = useRoute()
  const router = useRouter()
  
  onMounted(() => {
    if ((route.name as string).includes('add')) return
    isLoading.value = true
    libPackage.getPackageDetail(route.params.id)
      .then((res:any) => {
        Object.assign(packageData, res)
        return getVariants(route.params.id as string)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
        isLoading.value = false
      })
  })
  watch(selectedDay, () => console.log(selectedDay.value))
  const submitPackage = () => {
    isLoading.value = true
    if (route.name === 'edit-package') {
      libPackage.editPackage(route.params.id, packageData)
        .then(() => {
          let payload:variantType[] = []
          variantData.value.forEach((item, key) => {
            payload.push({
              id: item.id,
              name: item.name,
              days: JSON.stringify(selectedDay.value[key])
            })
          })
          return variant.editVariant(route.params.id, payload)
        })
        .then((res:string) => {
          notifyMsg.value = res
          notifyType.value = 'success'
        })
        .catch((err:any) => {
          notifyMsg.value = err
          notifyType.value = 'err'
        })
        .finally(() => isLoading.value = false)
    } else {
      libPackage.addPackage(packageData)
        .then(() => {
          router.push('/package')
        })
        .catch((err:any) => {
          notifyMsg.value = err
          notifyType.value = 'err'
          isLoading.value = false
        })
        .finally(() => isLoading.value = false)
    }
  }
  const submitVariant = () => {
    isLoading.value = true
    newVariant.package_id = route.params.id as string
    variant.addVariant(newVariant)
      .then(() => {
        selectedDay.value.push([0,1,2,3,4,5,6])
        showModal.value = false
        notifyMsg.value = 'Varian berhasil ditambahkan'
        notifyType.value = 'success'
        return getVariants(route.params.id as string)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
        isLoading.value = false
      })
  }
  const getVariants = (companyId:string) => {
    variant.getPackage(companyId)
      .then((res:variantDataType[]) => {
        variantData.value = res
        res.forEach((item:variantDataType) => selectedDay.value.push(JSON.parse(item.days)))
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const deleteVariant = (val:variantDataType) => {
    variant.delVariant(val.id)
      .then(() => {
        variantData.value = variantData.value.filter((item) => {return item !== val})
      })
  }
  const setSelectedDay = (day:number, index:number) => {
    if (selectedDay.value[index].includes(day)) {
      selectedDay.value[index] = selectedDay.value[index].filter((item) => {return item !== day})
    } else {
      selectedDay.value[index].push(day)
    }
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType"/>
    <section>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="card-base mb-8">
        <div class="card-12 overflow-scroll">
          <h6 class="mb-8">Detail Paket</h6>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Nama</span>
            <input type="text" class="input-lg" v-model="packageData.name" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Deskripsi</span>
            <textarea type="text" class="input-lg" v-model="packageData.description" />
          </label>
          <label v-if="route.name !== 'edit-package'" class="flex flex-col mb-4">
            <span class="mb-2">Kapasitas maksimal</span>
            <input type="text" class="input-lg" v-model="packageData.max_capacity" />
          </label>
          <label v-if="route.name !== 'edit-package'" class="flex flex-col mb-4">
            <span class="mb-2">Durasi</span>
            <input type="text" class="input-lg" v-model="packageData.duration" />
          </label>
          <label v-if="route.name !== 'edit-package'" class="flex flex-col mb-4">
            <span class="mb-2">Harga</span>
            <input type="text" class="input-lg" v-model="packageData.price" />
          </label>
        </div>
        <div v-for="(item, key) in variantData" :key="item.id" class="card-12">
          <h6 class="mb-4">Varian {{key + 1}}</h6>
          <div class="flex flex-col mb-2">
            <span class="text-sm">Nama</span>
            <p class="font-bold">{{item.name}}</p>
          </div>
          <div class="flex flex-col mb-2">
            <span class="text-sm">Kapasitas maksimal</span>
            <p class="font-bold">{{item.max_capacity}}</p>
          </div>
          <div class="flex flex-col mb-2">
            <span class="text-sm">Durasi</span>
            <p class="font-bold">{{item.duration}}</p>
          </div>
          <div class="flex flex-col mb-2">
            <span class="text-sm">Harga</span>
            <p class="font-bold">{{formatter.currency(item.price)}}</p>
          </div>
          <div class="flex flex-col mb-8">
            <span class="text-sm">Tersedia pada hari</span>
            <div class="flex gap-6">
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(1)" @click="setSelectedDay(1, key)" />
                <span class="pl-2">Senin</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(2)" @click="setSelectedDay(2, key)" />
                <span class="pl-2">Selasa</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(3)" @click="setSelectedDay(3, key)" />
                <span class="pl-2">Rabu</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(4)" @click="setSelectedDay(4, key)" />
                <span class="pl-2">Kamis</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(5)" @click="setSelectedDay(5, key)" />
                <span class="pl-2">Jumat</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(6)" @click="setSelectedDay(6, key)" />
                <span class="pl-2">Sabtu</span>
              </label>
              <label>
                <input type="checkbox" :checked="selectedDay[key].includes(0)" @click="setSelectedDay(0, key)" />
                <span class="pl-2">Minggu</span>
              </label>
            </div>
          </div>
          <div class="flex flex-col mb-2">
            <button @click="deleteVariant(item)" class="btn btn-danger">Hapus</button>
          </div>
        </div>
        <div v-if="(route.name as string).includes('edit')" class="col-span-12 mx-auto">
          <button @click="showModal = true" class="btn btn-secondary">Tambah varian</button>
        </div>
      </div>
      <div>
        <button @click="submitPackage()" type="button" class="btn btn-primary mr-4">Simpan</button>
        <RouterLink :to="{name: 'package'}" class="btn btn-danger">Batal</RouterLink>
      </div>
    </section>
    <section v-if="showModal" class="fixed bg-neutral-600/50 top-0 left-0 w-screen h-screen">
      <div @click="showModal = false" class="fixed bg-black/50 w-screen h-screen top-0 left-0" />
      <div class="absolute bg-white rounded-lg w-180 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-6">
        <h5 class="mb-8">Varian baru dari {{packageData.name}}</h5>
        <div class="mb-8">
          <label class="flex flex-col mb-4">
            <span class="mb-2">Nama</span>
            <input type="text" class="input" v-model="newVariant.name" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Kapasitas maksimal</span>
            <input type="text" class="input" v-model="newVariant.max_capacity" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Durasi</span>
            <input type="text" class="input" v-model="newVariant.duration" />
          </label>
          <label class="flex flex-col mb-4">
            <span class="mb-2">Harga</span>
            <input type="text" class="input" v-model="newVariant.price" />
          </label>
        </div>
        <div class="flex justify-end">
          <button @click="showModal = false" class="btn btn-danger">Batal</button>
          <button @click="submitVariant()" class="btn btn-primary ml-4">Tambah</button>
        </div>
      </div>
    </section>
  </main>
</template>