<script setup lang="ts">
  import libPackage from '@/libraries/package'
  import formatter from '@/helpers/formatter'
  import { ref, onMounted } from 'vue'
  import { useRoute } from 'vue-router'
  import Toast from '@/components/partials/Toast.vue'

  const ticketUrl = import.meta.env.VITE_TICKET_SITE
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)

  onMounted(() => {
    isLoading.value = true
    libPackage.getPackages()
      .then((res:any) => {
        payload.value = res
      })
      .catch((err:any) => {
        notifyType.value = 'err'
        notifyMsg.value = err
      })
      .finally(() => isLoading.value = false)
  })
  const payload = ref<packageDataType[]>([])
  const companyId = localStorage.getItem('companyId')
  const ticketHomepage = `${ticketUrl}/ticket/${companyId}`
  const route = useRoute()

  const deletePackage = (val:packageDataType) => {
    libPackage.delPackage(val.id)
      .then(() => {
        payload.value = payload.value.filter((item) => {return item !== val})
      })
      .catch((err:any) => {
        notifyType.value = 'err'
        notifyMsg.value = err
      })
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType"/>
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="flex justify-between items-center mb-12">
        <p>Kamu punya {{payload.length}} paket</p>
        <RouterLink :to="{name: 'add-package'}" class="btn btn-primary">+ Paket baru</RouterLink>
      </div>
      <section>
        <p>Sebarkan link ini kepada calon pembeli agar mereka dapat memesan tiket :</p>
        <div class="max-w-fit mb-4">
          <img class="mx-auto" :src="`https://api.qrserver.com/v1/create-qr-code/?data=${ticketHomepage}&size=150x150`" alt="QR Code" />
          <a :href="ticketHomepage">{{ticketHomepage}}</a>
        </div>
      </section>
      <section v-if="payload.length > 0">
        <div class="card-base mb-8">
          <div v-for="item in payload" :key="item.id" class="card-12 md:card-3">
            <div class="text-center mb-8">
              <h6>{{item.name}}</h6>
              <p>{{item.description ? item.description : 'Deskripsinya kosong :('}}</p>
            </div>
            <h4 class="text-center mb-16">{{formatter.currency(item.price)}}</h4>
            <div class="flex justify-around">
              <RouterLink :to="{name: 'edit-package', params: {id: item.id}}" class="btn btn-secondary">Lihat detail</RouterLink>
              <button @click="deletePackage(item)" type="button" class="btn btn-danger">Hapus</button>
            </div>
          </div>
        </div>
        <!-- <div class="flex justify-center items-center p-4">
          <div class="pagination">
            <button class="paging active">1</button>
          </div>
        </div> -->
      </section>
      <section v-else>
        <div class=" bg-white rounded-xl flex flex-col justify-center items-center p-20">
          <p>Sayang sekali, saat ini kamu tidak mempunyai paket apa pun untuk dijual.</p>
          <RouterLink :to="{name: 'add-package'}" type="button" class="btn btn-primary">Buat sekarang</RouterLink>
        </div>
      </section>
    </section>
  </main>
</template>