<script setup lang="ts">
  import report from '@/libraries/report'
  import venue from '@/libraries/venue'
  import company from '@/libraries/company'
  import download from '@/libraries/download'
  import formatter from '@/helpers/formatter'
  import Toast from '@/components/partials/Toast.vue'
  import { useRoute } from 'vue-router'
  import { ref, reactive, onMounted, computed, watch } from 'vue'

  const dateRange = reactive({
    endDate: '',
    startDate: '',
  })
  const notifyType = ref('')
  const notifyMsg = ref('')
  const roleId = parseInt(localStorage.getItem('roleId') || '99')
  const isLoading = ref(false)
  const venueLoading = ref(false)
  const venueId = ref('')
  const companyId = ref('')
  const venueData = ref<venueDataType[]>([])
  const companiesData = ref<companyDataType[]>([])
  const manifestData = ref<manifestDataType[]>([])
  const route = useRoute()

  const price = computed(() => {
    let count = 0
    manifestData.value.forEach(item => {
      if (!item.price) item.price = 0
      count += parseInt(item.price as string)
    })
    return count
  })
  watch(venueId, () => {
    manifestData.value = []
  })
  watch(dateRange, () => {
    manifestData.value = []
  })
  watch(companyId, (val) => {
    venueLoading.value = true
    manifestData.value = []
    venueId.value = ''
    venue.getVenuesCompany(val)
      .then((res:venueDataType[]) => {
        venueData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => venueLoading.value = false)
  })
  onMounted(() => {
    isLoading.value = true
    if (roleId > 2) {
      venue.getVenues()
        .then((res:any) => {
          venueData.value = res
        })
        .catch((err:any) => {
          notifyMsg.value = err
          notifyType.value = 'err'
        })
        .finally(() => isLoading.value = false)
    } else {
      company.getCompanies()
        .then((res:companyDataType[]) => {
          companiesData.value = res
        })
        .catch((err:any) => {
          notifyMsg.value = err
          notifyType.value = 'err'
        })
        .finally(() => isLoading.value = false)
    }
  })

  const generateManifest = () => {
    isLoading.value = true
    const newDateRange = {
      endDate: formatter.toTimeIso(`${dateRange.endDate}T23:59:59`),
      startDate: formatter.toTimeIso(`${dateRange.startDate}T00:00:00`),
    }
    report.getManifest(venueId.value, newDateRange)
      .then((res:manifestDataType[]) => {
        manifestData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const downloadRecap = () => {
    const filename = `ManifestRecap_${formatter.toDateIso(Date.now())}`
    isLoading.value = true
    const newDateRange = {
      endDate: formatter.toTimeIso(`${dateRange.endDate}T23:59:59`),
      startDate: formatter.toTimeIso(`${dateRange.startDate}T00:00:00`),
    }
    download.getManifest(venueId.value, newDateRange, `${filename}.csv`)
      .then(() => {
        notifyMsg.value = 'Manifes terdownload'
        notifyType.value = 'success'
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="card-base mb-8">
        <div class="relative card-12 overflow-scroll">
          <div class="flex gap-4 mb-4">
            <label v-if="roleId <= 2">
              <p>Pilih Perusahaan:</p>
              <select v-model="companyId" class="input">
                <option v-for="item in companiesData" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </label>
            <label>
              <p>Pilih venue:</p>
              <input v-if="venueLoading" class="input" type="text" value="Loading ..." disabled />
              <select v-else v-model="venueId" class="input">
                <option v-for="item in venueData" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </label>
            <label>
              <p>Mulai dari:</p>
              <input type="date" class="input" v-model="dateRange.startDate" />
            </label>
            <label>
              <p>Sampai dengan:</p>
              <input type="date" class="input" v-model="dateRange.endDate" />
            </label>
            <button @click="generateManifest()" type="button" class="btn btn-primary">Cek Manifes</button>
          </div>
          <table class="border mb-4">
            <thead>
              <tr class="border-y uppercase">
                <th>No</th>
                <th>Tanggal</th>
                <th>Waktu</th>
                <th>Pengemudi</th>
                <th>Nomor Tiket</th>
                <th>Penumpang</th>
                <th>Gender</th>
                <th>Usia</th>
                <th>Alamat</th>
                <th>Telepon</th>
                <th>Jenis Tiket</th>
                <th>Harga Tiket</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in manifestData" :key="key" class="border-b">
                <td>{{key + 1}}</td>
                <td>{{formatter.toDateShort(item.departure)}}</td>
                <td>{{formatter.toTime(item.departure)}}</td>
                <td>{{item.pic}}</td>
                <td>{{item.id_ticket}}</td>
                <td>{{item.pax_name}}</td>
                <td>{{item.pax_sex}}</td>
                <td>{{item.pax_age}}</td>
                <td>{{item.pax_address}}</td>
                <td>{{item.pax_phone}}</td>
                <td>{{item.ticket}}</td>
                <td>{{item.price ? formatter.currency(item.price) : ''}}</td>
              </tr>
              <tr class="font-bold" v-if="manifestData.length > 0">
                <td class="text-center uppercase" colspan="10">Total</td>
                <td>{{formatter.currency(price)}}</td>
              </tr>
            </tbody>
          </table>
          <div v-if="manifestData.length > 0">
            <button @click="downloadRecap()" type="button" class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>