<script setup lang="ts">
  import report from '@/libraries/report'
  import company from '@/libraries/company'
  import download from '@/libraries/download'
  import formatter from '@/helpers/formatter'
  import Toast from '@/components/partials/Toast.vue'
  import { useRoute } from 'vue-router'
  import { ref, reactive, onMounted, computed, watch } from 'vue'

  const dateRange = reactive({
    endDate: '',
    startDate: '',
  })
  const companyData = ref<companyDataType[]>([])
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const manifestRecapVenueData = ref<manifestRecapInstallmentDataType[]>([])
  const companyId = ref(0)
  const route = useRoute()

  const totalSale = computed(() => {
    let count = 0
    manifestRecapVenueData.value.forEach(item => {
      count += item.total_sale 
    })
    return count
  })
  const totalPax = computed(() => {
    let count = 0
    manifestRecapVenueData.value.forEach(item => {
      count += item.total_pax 
    })
    return count
  })
  const totalTicket = computed(() => {
    let count = 0
    manifestRecapVenueData.value.forEach(item => {
      count += item.total_ticket
    })
    return count
  })
  const totalPaxPremium = computed(() => {
    let count = 0
    manifestRecapVenueData.value.forEach(item => {
      count += item.total_pax_premium 
    })
    return count
  })
  const totalTicketPremium = computed(() => {
    let count = 0
    manifestRecapVenueData.value.forEach(item => {
      count += item.total_ticket_premium
    })
    return count
  })
  watch(companyId, () => {
    manifestRecapVenueData.value = []
  })
  watch(dateRange, () => {
    manifestRecapVenueData.value = []
  })
  onMounted(() => {
    isLoading.value = true
    company.getCompanies()
      .then((res:companyDataType[]) => {
        companyData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  const generateRecap = () => {
    isLoading.value = true
    const newDateRange = {
      endDate: formatter.toTimeIso(`${dateRange.endDate}T23:59:59`),
      startDate: formatter.toTimeIso(`${dateRange.startDate}T00:00:00`),
    }
    report.getManifestRecapInstallment(companyId.value, newDateRange)
      .then((res:manifestRecapInstallmentDataType[]) => {
        manifestRecapVenueData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const downloadRecap = () => {
    const filename = `ManifestRecapInstallment_${formatter.toDateIso(Date.now())}`
    isLoading.value = true
    const newDateRange = {
      endDate: formatter.toTimeIso(`${dateRange.endDate}T23:59:59`),
      startDate: formatter.toTimeIso(`${dateRange.startDate}T00:00:00`),
    }
    download.getManifestRecapInstallment(companyId.value, newDateRange, `${filename}.csv`)
      .then(() => {
        notifyMsg.value = 'Rekapitulasi manifes terdownload'
        notifyType.value = 'success'
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="card-base mb-8">
        <div class="relative card-12 overflow-scroll">
          <div class="flex gap-4 mb-4">
            <label>
              <p>Nama Perusahaan:</p>
              <select v-model="companyId" class="input">
                <option v-for="item in companyData" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </label>
            <label>
              <p>Mulai dari:</p>
              <input type="date" class="input" v-model="dateRange.startDate" />
            </label>
            <label>
              <p>Sampai dengan:</p>
              <input type="date" class="input" v-model="dateRange.endDate" />
            </label>
            <button @click="generateRecap()" type="button" class="btn btn-primary">Rekap</button>
          </div>
          <table class="border mb-4">
            <thead>
              <tr class="border-y uppercase">
                <th>No</th>
                <th>Nama Kapal</th>
                <th>Jumlah Produksi</th>
                <th>Jumlah Penumpang</th>
                <th>Penerimaan</th>
                <th>Premi Iuran Produksi</th>
                <th>Premi Iuran Penumpang</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in manifestRecapVenueData" :key="key" class="border-b">
                <td>{{key + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{formatter.numberPretty(item.total_ticket)}}</td>
                <td>{{formatter.numberPretty(item.total_pax)}}</td>
                <td>{{formatter.currency(item.total_sale)}}</td>
                <td>{{formatter.currency(item.total_ticket_premium)}}</td>
                <td>{{formatter.currency(item.total_pax_premium)}}</td>
              </tr>
              <tr class="font-bold" v-if="manifestRecapVenueData.length > 0">
                <td class="text-center uppercase" colspan="2">Total</td>
                <td>{{formatter.numberPretty(totalTicket)}}</td>
                <td>{{formatter.numberPretty(totalPax)}}</td>
                <td>{{formatter.currency(totalSale)}}</td>
                <td>{{formatter.currency(totalTicketPremium)}}</td>
                <td>{{formatter.currency(totalPaxPremium)}}</td>
              </tr>
            </tbody>
          </table>
          <div v-if="manifestRecapVenueData.length > 0">
            <button @click="downloadRecap()" type="button" class="btn btn-primary">Download CSV</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>