<script setup lang="ts">
  import venue from '@/libraries/venue'
  import report from '@/libraries/report'
  import company from '@/libraries/company'
  import formatter from '@/helpers/formatter'
  import Toast from '@/components/partials/Toast.vue'
  import { useRoute } from 'vue-router'
  import { ref, reactive, onMounted, watch } from 'vue'

  const dateRange = reactive({
    endDate: '',
    startDate: '',
  })
  const companyData = ref<companyDataType[]>([])
  const notifyType = ref('')
  const notifyMsg = ref('')
  const venueId = ref(0)
  const isLoading = ref(true)
  const venueLoading = ref(true)
  const venueData = ref<venueDataType[]>([])
  const paxRecapData = ref<paxRecapPremiumDataType[]>([])
  const roleId = parseInt(localStorage.getItem('roleId') || '0')
  const companyId = ref(parseInt(localStorage.getItem('companyId') || '0'))
  const route = useRoute()

  onMounted(() => {
    venue.getVenuesCompany(companyId.value)
      .then((res:venueDataType[]) => {
        venueId.value = 0
        const allVenue:venueDataType[] = [{
          id: 0,
          owner: '',
          name: 'Semua Venue',
          capacity: 0,
        }]
        venueData.value = allVenue.concat(res)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => venueLoading.value = false)
    if (roleId > 2) return
    company.getCompanies()
      .then((res:companyDataType[]) => {
        companyData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  watch(companyId, (val) => {
    venueLoading.value = true
    venue.getVenuesCompany(val)
      .then((res:venueDataType[]) => {
        venueId.value = 0
        const allVenue:venueDataType[] = [{
          id: 0,
          owner: '',
          name: 'Semua Venue',
          capacity: 0,
        }]
        venueData.value = allVenue.concat(res)
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => venueLoading.value = false)
  })
  const generateRecap = () => {
    isLoading.value = true
    const queryParameter = {
      endDate: formatter.toTimeIso(`${dateRange.endDate}T23:59:59`),
      startDate: formatter.toTimeIso(`${dateRange.startDate}T00:00:00`),
      venueId: venueId.value,
    }
    report.getPaxRecapPremium(companyId.value, queryParameter)
      .then((res:paxRecapPremiumDataType[]) => {
        paxRecapData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
  const currentDate = (index:number) => {
    const date = new Date(dateRange.startDate)
    date.setDate(date.getDate() + index)
    return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear().toString().substring(2)}`
  } 
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="card-base mb-8">
        <div class="relative card-12 overflow-scroll">
          <div class="flex gap-4 mb-4">
            <label>
              <p>Nama Perusahaan:</p>
              <select v-model="companyId" class="input">
                <option v-for="item in companyData" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </label>
            <label>
              <p>Pilih venue:</p>
              <select :disabled="venueLoading" v-model="venueId" class="input">
                <option v-for="item in venueData" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </label>
            <label>
              <p>Mulai dari:</p>
              <input type="date" class="input" v-model="dateRange.startDate" />
            </label>
            <label>
              <p>Sampai dengan:</p>
              <input type="date" class="input" v-model="dateRange.endDate" />
            </label>
            <button @click="generateRecap()" type="button" class="btn btn-primary">Rekap</button>
          </div>
          <table class="border">
            <thead>
              <tr class="border-y uppercase">
                <th>No</th>
                <th>Jenis Tiket</th>
                <th>Harga Tiket</th>
                <th
                  v-if="paxRecapData.length > 0"
                  v-for="(item, key) in paxRecapData[0].daily"
                  :key="key">
                  {{currentDate(key)}}
                </th>
                <th>Jumlah Penumpang</th>
                <th>Total Penerimaan</th>
                <th>Premi Iuran Produksi</th>
                <th>Premi Iuran Penumpang</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in paxRecapData" :key="key" class="border-b">
                <td>{{key + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{formatter.currency(item.price)}}</td>
                <td v-if="paxRecapData.length > 0" v-for="(item2, key2) in paxRecapData[key].daily">{{item2}}</td>
                <td>{{formatter.numberPretty(item.total_pax)}}</td>
                <td>{{formatter.currency(item.total_sale)}}</td>
                <td>{{formatter.currency(item.tariff)}}</td>
                <td>{{formatter.currency(item.total_tariff)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
</template>