<script setup lang="ts">
  import LogIn from '@/components/auths/LogIn.vue'
  import Thanks from '@/components/auths/Thanks.vue'
  import Register from '@/components/auths/Register.vue'
  import NewCompany from '@/components/auths/NewCompany.vue'
  import ExistingCompany from '@/components/auths/ExistingCompany.vue'
  import { useRoute } from 'vue-router'

  const route = useRoute()
</script>

<template>
  <main class="mt-20">
    <LogIn v-if="route.path === '/login'" />
    <Register v-if="route.path === '/register'" />
    <NewCompany v-if="route.path === '/register/new'" />
    <ExistingCompany v-if="route.path === '/register/existing'" />
    <Thanks v-if="route.path === '/register/choose-type'" />
  </main>
</template>