<script setup lang="ts">
  import formatter from '@/helpers/formatter'
  import libCompany from '@/libraries/company'
  import libPackage from '@/libraries/package'
  import libVariant from '@/libraries/variant'
  import libTicket from '@/libraries/ticket'
  import venue from '@/libraries/venue'
  import { useRoute, useRouter } from 'vue-router'
  import { onMounted, reactive, ref, watch } from 'vue'
  import Toast from '@/components/partials/Toast.vue'
  import html2canvas from 'html2canvas'
  import qrCode from 'qrcode'

  const ticketData = reactive<ticketDataType>({
    id: 0,
    id_ticket: '',
    price: 0,
    phone: '',
    pic: '',
    venue_id: 0,
    ticket_status_id: 1,
    pax: [],
    created_at: '',
  })
  const venueData = ref<venueDataType[]>([])
  const packagesData = ref<packageDataType[]>([])
  const moneyRecieved = ref(0)
  const duration = ref(0)
  const capacity = ref(0)
  const companyName = ref('')
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)
  const ticketUrl = ref('')
  const venueIndex = ref(0)
  const venueName = ref('')
  const packageName = ref('')
  const kodeTicket = ref('')
  const dateTicket = ref('')
  const packetId = ref(0)
  const variantId = ref(0)
  const route = useRoute()
  const router = useRouter()
  onMounted(() => {
    ticketUrl.value = window.location.href
    libCompany.getMine()
      .then((res:companyType) => {
        companyName.value = res.name
      })
    libPackage.getPackages()
      .then((res:packageDataType[]) => {
        packagesData.value = res
        packageName.value = res[0].name
        return libVariant.getPackage(res[0].id)
      })
      .then((res:variantDataType[]) => {
        ticketData.price = res[0].price
        variantId.value = res[0].id
        duration.value = res[0].duration
        capacity.value = res[0].max_capacity
        return venue.getVenues()
      })
      .then((res:any) => {
        venueName.value = res[0].name
        ticketData.venue_id = res[0].id
        venueData.value = res
      })
      .catch((err:any) => {
        console.log(err)
      })
  })
  watch(packetId, (val) => {
    packageName.value = packagesData.value[val].name
    libVariant.getPackage(packagesData.value[val].id)
      .then((res:variantDataType[]) => {
        ticketData.price = res[0].price
        variantId.value = res[0].id
        duration.value = res[0].duration
        capacity.value = res[0].max_capacity
      })
  })
  watch(venueIndex, (val) => {
    venueName.value = venueData.value[val].name
    ticketData.venue_id = venueData.value[val].id
  })
  
  const createTicket = () => {
    isLoading.value = true
    if (moneyRecieved.value <= 0) {
      notifyMsg.value = 'Uang yang diterima harus lebih dari 0'
      notifyType.value = 'warn'
      return
    }
    const payload = {
      company_id: parseInt(localStorage.getItem('companyId') || '0'),
      package_id: packetId.value,
      variant_id: variantId.value,
      pax: [],
      phone: '-',
      ticket_status_id: 2,
      price: moneyRecieved.value,
      pic: ticketData.pic,
      venue_id: ticketData.venue_id,
    }
    libTicket.addTicket(payload)
      .then((res:any) => {
        kodeTicket.value = res.id_ticket
        dateTicket.value = formatter.toDate(res.created_at)
        Object.assign(payload, {id_ticket: kodeTicket.value})
        return libTicket.editTicket(res.id, payload)
      })
      .then(() => {
        const printThis = document.querySelector('#printThis') as HTMLElement
        if (printThis) {
          printThis.hidden = false
        }
        const canvas = document.getElementById('canvasQr') as HTMLCanvasElement
        qrCode.toCanvas(canvas, `${import.meta.env.VITE_TICKET_SITE}/register/${kodeTicket.value}`, {
          margin: 0,
          width: 450
        }, (err) => {
          if (err) console.error(err)
        })
        setTimeout(printTicket, 1000)
      })
      .catch((err:any) => {
        isLoading.value = false
        notifyMsg.value = err
        notifyType.value = 'err'
      })
  }
  const printTicket = () => {
    const printThis = document.querySelector('#printThis') as HTMLElement
    html2canvas(printThis, {width: 540, height: 2285,})
      .then((newCanvas:HTMLCanvasElement) => {
        const printThis = document.querySelector('#printThis') as HTMLElement
        const a = document.createElement('a')
        const dataUrl = newCanvas.toDataURL("image/png")
        const preview = window.open()
        a.href = dataUrl
        a.download = `${kodeTicket.value}.png`
        a.click()
        preview?.document.write('<img src="' + dataUrl + '" />')
        preview?.document.close()
        preview?.print()
        printThis.hidden = true
        isLoading.value = false
      })
  }
</script>

<template>
  <main class="sm:ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
    <div class="card-base">
      <form @submit.prevent="createTicket()" class="card-12 overflow-scroll lg:card-4 lg:row-span-4 row-span-1 flex flex-col justify-between">
        <section>
          <h6>Paket</h6>
          <label class="flex flex-col mb-6">
            <span class="mb-2">Pilih Paket:</span>
            <select v-model="packetId">
              <option v-for="(item, key) in packagesData" :key="key" :value="key">{{item.name}}</option>
            </select>
          </label>
          <label class="flex flex-col mb-6">
            <span class="mb-2">Pilih kapal:</span>
            <select v-model="venueIndex">
              <option v-for="(item, key) in venueData" :key="key" :value="key">{{item.name}} - Max:{{item.capacity}}</option>
            </select>
          </label>
          <label class="flex flex-col mb-6">
            <span class="mb-2">Penangung jawab perjalan:</span>
            <input class="input-full" v-model="ticketData.pic" required/>
          </label>
        </section>
        <section>
          <div class="grid grid-cols-2 mb-4">
            <p>Total harga</p>
            <p>: {{formatter.currency(ticketData.price)}}</p>
            <p>Uang diterima</p>
            <p>: <input v-model="moneyRecieved" class="border border-neutral-800 rounded" required type="number"/></p>
            <p>Kembalian</p>
            <p>: {{formatter.currency(moneyRecieved - ticketData.price)}}</p>
          </div>
          <div class="flex flex-col">
            <button @click="router.push('/ticket')" class="text-center btn btn-primary mb-2" :disabled="isLoading">Kembali</button>
            <button type="submit" class="btn btn-primary mb-2" :disabled="isLoading">{{isLoading ? 'Membuat...' : 'Buat Tiket'}}</button>
          </div>
        </section>
      </form>
    </div>
    <div class="absolute left-0 top-0 -z-40 w-screen h-screen bg-primary-3"/>
    <div id="printThis" hidden class="absolute left-0 top-0 -z-50 break-words w-[540px] px-1 py-4">
      <p class="text-black mb-4 pb-4 text-[48px] text-center border-b-[6px] border-black">{{companyName}}</p>
      <p class="text-black text-[30px]">Kode Tiket:</p>
      <p class="ml-2 text-black text-[42px]">{{kodeTicket}}</p>
      <p class="text-black text-[30px]">Paket:</p>
      <p class="ml-2 text-black text-[42px]">{{packageName}}</p>
      <p class="text-black text-[30px]">Harga:</p>
      <p class="ml-2 text-black text-[42px]">{{formatter.currency(ticketData.price)}}</p>
      <p class="text-black text-[30px]">Venue:</p>
      <p class="pl-2 pb-4 text-black text-[42px] border-b-[6px] border-black mb-2">{{venueName}}</p>

      <p class="text-black text-[30px]">*berlaku tanggal <span class="font-bold">{{dateTicket}}</span></p>
      <p class="text-black text-[30px]">1. Harga tiket berlaku untuk <span class="font-bold">{{duration}} menit</span></p>
      <p class="text-black text-[30px]">2. Satu tiket untuk maskismal <span class="font-bold">{{new Intl.NumberFormat("id-ID").format(capacity)}} orang</span></p>
      <p class="text-black text-[30px]">3. Wajib menggunakan pelampung</p>
      <p class="text-black text-[30px] border-b-[6px] border-black mb-2 pb-4">4. Harga tiket termasuk asuransi</p>

      <p class="text-black text-[30px] text-center">Scan QR dibawah agar perjalanan Anda terlindungi Jasa Raharja</p>
      <canvas id="canvasQr" class="w-[450px] h-[450px] my-1 text-center" />
      <p class="ml-2 text-black text-[42px] text-center">TERIMA KASIH</p>
    </div>
  </main>
</template>