<script setup lang="ts">
  import company from '@/libraries/company'
  import address from '@/libraries/address'
  import arrayHelper from '@/helpers/array'
  import Toast from '@/components/partials/Toast.vue'
  import { useRoute } from 'vue-router'
  import { ref, watch, onMounted } from 'vue'

  const route = useRoute()
  const notifyType = ref('')
  const notifyMsg = ref('')
  const provincesData = ref<provinceDataType[]>([])
  const provinceSelected = ref(0)
  const citiesData = ref<cityDataType[]>([])
  const citySelected = ref(0)
  const isLoading = ref(false)
  const cityLoading = ref(false)
  const companyData = ref<companyDataType>({
    id: 0,
    name: '',
    owner: '',
    secretary: '',
    finance: '',
    phone: '',
    province: '',
    city: '',
  })

  onMounted(() => {
    isLoading.value = true
    company.getMine()
      .then((res:companyDataType) => {
        companyData.value = res
        return address.getProvinces()
      })
      .then((res:provinceDataType[]) => {
        provincesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  })
  watch(provinceSelected, (val) => {
    cityLoading.value = true
    console.log(val)
    companyData.value.province = arrayHelper.getValues(provincesData.value, val)
    address.getCities(val)
      .then((res:cityDataType[]) => {
        citiesData.value = res
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => cityLoading.value = false)
  })
  watch(citySelected, (val) => {
    companyData.value.city = arrayHelper.getValues(citiesData.value, val)
  })
  const editCompany = () => {
    isLoading.value = true
    company.editCompany(companyData.value)
      .then(() => {
        notifyMsg.value = 'Data perusahaan tersimpan'
        notifyType.value = 'success'
      })
      .catch((err:any) => {
        notifyMsg.value = err
        notifyType.value = 'err'
      })
      .finally(() => isLoading.value = false)
  }
</script>

<template>
  <main class="ml-72 p-8">
    <Toast :msg="notifyMsg" :type="notifyType" />
    <section v-if="isLoading" class="text-center my-20">
      <h3>Loading ...</h3>
    </section>
    <section v-else>
      <h3 class="capitalize mb-6">{{route.meta.displayName}}</h3>
      <div class="card-base mb-8">
        <div class="card-12 grid grid-cols-8 gap-4 items-center">
          <p class="mb-0 col-span-8 md:col-span-1">Nama Perusahaan</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <input type="text" class="input" v-model="companyData.name" />
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Ketua</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <input type="text" class="input" v-model="companyData.owner" />
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Sekretaris</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <input type="text" class="input" v-model="companyData.secretary" />
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Bendahara</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <input type="text" class="input" v-model="companyData.finance" />
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Nomor Telepon</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <input type="text" class="input" v-model="companyData.phone" />
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Provinsi</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <select class="input" v-model="provinceSelected">
              <option v-for="province in provincesData" :key="province.id" :value="province.id">{{province.name}}</option>
            </select>
          </label>
          <p class="mb-0 col-span-8 md:col-span-1">Kabupaten/Kota</p>
          <label class="flex col-span-8 md:col-span-7 items-center">
            <span class="hidden md:block mr-4">:</span>
            <select class="input" v-model="citySelected">
              <option v-for="city in citiesData" :key="city.id" :value="city.id">{{city.name}}</option>
            </select>
          </label>
        </div>
      </div>
      <button @click="editCompany" class="btn btn-primary">Simpan</button>
    </section>
  </main>
</template>