<script setup lang="ts">
  import auth from '@/libraries/auth'
  import logo from '@/helpers/logo'
  import { useRoute, useRouter } from 'vue-router'
  import { ref, onMounted, watch } from 'vue'

  const route = useRoute()
  const router = useRouter()
  const name = localStorage.getItem('name')
  const menus = [
    {name: 'Dashboard', link: '/dashboard', role: [2,3]},
    {name: 'Kasir', link: '/cashier', role: [3,4]},
    {name: 'Ticket', link: '/ticket', role: [3,4]},
    {name: 'Paket', link: '/package', role: [3,4]},
    {name: 'Venue', link: '/venue', role: [3]},
    {name: 'Manifes', link: '/manifest', role: [2,3]},
    {name: 'Rekap Penjualan', link: '/recap-manifest', role: [2,3]},
    {name: 'Rekap Premi Penjualan', link: '/recap-installment', role: [2]},
    {name: 'Rekap Penumpang', link: '/recap-pax', role: [2,3]},
    {name: 'Rekap Premi Penumpang', link: '/recap-premium-pax', role: [2]},
    {name: 'Pendaftaran', link: '/register', role: [2]},
    {name: 'Pengaturan', link: '/settings', role: [1,2,3,4]},
  ]
  const displayedMenu = ref(menus)
  const setMenu = ref('https://via.placeholder.com/75')

  onMounted(() => {
    setMenu.value = logo(localStorage.getItem('companyId'))
    auth.me()
      .then((res:any) => {
        if (res <= 1) {
          displayedMenu.value = menus
          return
        }
        displayedMenu.value = menus.filter((item) => { return item.role.includes(res) })
      })
      .catch((err:any) => {
        console.error(err)
      })
  })

  const logout = () => {
    auth.logout()
    router.push('/login')
  }
</script>

<template>
  <nav class="hidden sm:block overflow-scroll fixed bg-white w-72 top-0 h-screen py-2">
    <h6 class="px-3">TIMES</h6>
    <div class="flex flex-col items-center">
      <img class="h-[75px] mb-4" :src="setMenu" alt="Avatar">
      <p class="mb-0">Selamat datang,</p>
      <p class="font-bold">{{name}}</p>
    </div>
    <h6 class="px-3">Menu</h6>
    <div class="sidebar pb-20 mb:pb-0">
      <RouterLink 
        v-for="(menu, key) in displayedMenu"
        :to="menu.link"
        :key="key"
        class="sidebar-item"
        :class="route.path.includes(menu.link) ? 'active' : ''" >
        {{menu.name}}
      </RouterLink>
      <button @click="logout()" class="bg-red-500 hover:bg-red-400 hover:text-white text-white sidebar-item mt-20">Keluar</button>
    </div>
  </nav>
</template>