<script setup lang="ts">
  import { ref, watch } from 'vue'

  const props = defineProps({
    msg: String,
    type: String,
  })
  const showToast = ref(false)

  const bgClass = (type:string) => {
    if (type === 'err') return 'bg-red-500'
    if (type === 'warn') return 'bg-orange-500'
    if (type === 'success') return 'bg-green-500'
  }
  const typeText = (type:string) => {
    if (type === 'err') return 'Error'
    if (type === 'warn') return 'Warning'
    if (type === 'success') return 'Success'
  }
  watch(props, () => {
    showToast.value = true
    setTimeout(() => {
      showToast.value = false
    }, 5000)
  })
</script>

<template>
  <main
    v-if="showToast"
    class="fixed z-50 bottom-0 right-0 text-white rounded-lg w-80 m-8 p-4"
    :class="bgClass(props.type as string)">
    <div class="flex justify-between">
      <h5>{{typeText(props.type as string)}}</h5>
      <h5 @click="showToast = false">x</h5>
    </div>
    <p>{{props.msg}}</p>
    <p v-if="props.type !== 'success'">Hubungi penyedia layanan untuk info lebih lanjut</p>
  </main>
</template>