<script setup lang="ts">
  import { useRouter } from 'vue-router'

  const router = useRouter()
</script>

<template>
  <main class="bg-white text-center border rounded shadow w-118 mx-auto p-20">
    <h4 class="mb-6">Terima kasih telah mendaftar</h4>
    <p>Mohon tentukan pilihan Anda</p>
    <div class="grid grid-cols-2 gap-4">
      <div @click="router.push('/register/new')" class="bg-neutral-200 p-2">
        Buat akun perusahaan baru
      </div>
      <div @click="router.push('/register/existing')" class="bg-neutral-200 p-2">
        Bergabung dengan perusahaan yang sudah ada
      </div>
    </div>
  </main>
</template>