<script setup lang="ts">
  import auth from '@/libraries/auth'
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import Toast from '@/components/partials/Toast.vue';

  const router = useRouter()
  const email = ref('')
  const pass = ref('')
  const notifyType = ref('')
  const notifyMsg = ref('')
  const isLoading = ref(false)

  const submit = () => {
    isLoading.value = true
    const payload = {
      email: email.value,
      password: pass.value
    }
    auth.login(payload)
      .then((res:any) => {
        return auth.profile()
      })
      .then((res:any) => {
        router.push('/dashboard')
      })
      .catch((err:any) => {
        notifyType.value = 'err'
        notifyMsg.value = err as string
      })
      .finally(() => isLoading.value = false)
  }
</script>

<template>
  <Toast :msg="notifyMsg" :type="notifyType" />
  <form class="bg-white border rounded shadow w-118 mx-auto p-20" @submit.prevent="submit()">
    <div class="mb-10">
      <h4>Log in</h4>
      <p class="text-sm text-neutral-500">Akses halaman data dengan menggunakan email dan password Anda</p>
    </div>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Email</span>
      <input class="input-full" type="email" v-model="email" placeholder="admin@email.com" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Password</span>
      <input class="input-full" type="password" v-model="pass" />
    </label>
    <button class="btn-full btn-primary mb-6" type="submit" :disabled="isLoading">{{isLoading ? 'Loading ...' : 'Log in'}}</button>
  </form>
</template>
