<script setup lang="ts">
  import user from '@/libraries/auth'
  import { reactive } from 'vue' 
  import { useRouter } from 'vue-router'

  const payload = reactive({
    name: '',
    logo: '',
    owner: '',
    secretary: '',
    finance: '',
    province: '',
    city: '',
    address: '',
    phone: '',
  })
  const router = useRouter()

</script>

<template>
  <form class="bg-white border rounded shadow w-118 mx-auto p-20" @submit.prevent="router.push('/register/choose-type')">
    <div class="mb-10">
      <h4>Daftarkan Perusahaan</h4>
    </div>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Nama Perusahaan</span>
      <input class="input-full" type="text" v-model="payload.name" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Pemilik</span>
      <input class="input-full" type="text" v-model="payload.owner" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Sekretaris</span>
      <input class="input-full" type="text" v-model="payload.secretary" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Bendahara</span>
      <input class="input-full" type="text" v-model="payload.finance" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Provinsi</span>
      <input class="input-full" type="text" v-model="payload.province" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Kabupaten/Kota</span>
      <input class="input-full" type="text" v-model="payload.city" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Kecamatan</span>
      <input class="input-full" type="text" v-model="payload.address" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Telepon</span>
      <input class="input-full" type="text" v-model="payload.phone" />
    </label>
    <!-- <label class="flex flex-col mb-6">
      <span class="mb-2">Logo</span>
      <input class="input-full" type="text" v-model="payload." />
    </label> -->
    <button class="btn-full btn-primary mb-6" type="submit">Daftar</button>
    <button @click="router.push('/register/choose-type')" class="btn-full btn-danger mb-6">Batal</button>
  </form>
</template>