<script setup lang="ts">
  import user from '@/libraries/auth'
  import { reactive, onMounted } from 'vue'
  import { useRouter } from 'vue-router'

  const payload = reactive({
    name: '',
    email: '',
    password: '',
    conf_password: '',
  })
  const router = useRouter()
  const submit = () => [
    user.register(payload)
      .then(() => {
        router.push('/')
      })
      .catch((err:any) => {
        console.log(err)
      })
  ]
</script>

<template>
  <form class="bg-white border rounded shadow w-118 mx-auto p-20" @submit.prevent="submit()">
    <div class="mb-10">
      <h4>Register</h4>
      <p class="text-sm text-neutral-500">Pedaftaran pengguna baru</p>
    </div>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Email</span>
      <input class="input-full" type="text" v-model="payload.email" placeholder="admin@email.com" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Nama lengkap</span>
      <input class="input-full" type="text" v-model="payload.name" placeholder="Joko Tingkir" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Password</span>
      <input class="input-full" type="password" v-model="payload.password" />
    </label>
    <label class="flex flex-col mb-6">
      <span class="mb-2">Konfirmasi password</span>
      <input class="input-full" type="password" v-model="payload.conf_password" />
    </label>
    <button class="btn-full btn-primary mb-6" type="submit">Register</button>
    <p><RouterLink to="/login">Kembali ke login</RouterLink></p>
  </form>
</template>