<template>
  <main class="bg-white text-center border rounded shadow w-118 mx-auto p-20">
    <h4 class="mb-6">Terima kasih telah mendaftar</h4>
    <p class="text-sm text-neutral-500">
      Anda akan segera diarahkan ke dashboard. Jika dalam 5 detik
      tidak ada respon, klik <RouterLink to="/">di sini</RouterLink>.
    </p>
  </main>
</template>