<script setup lang="ts">
  import Sidebar from '@/components/partials/Sidebar.vue'
  import fn from '@/factories/fn'
  import auth from '@/libraries/auth'
  import { useRoute } from 'vue-router'

  const route = useRoute()
  const checkRoute = () => {
    if (route.path.includes('login')) return false
    return true
  }
</script>

<template>
  <main @mouseover="fn.throttle(auth.me, 60000)">
    <Sidebar v-if="checkRoute()" />
    <RouterView />
  </main>
</template>